@*@model IEnumerable<Playground.ViewModels.HotSpotViewModel>*@
@*@model IPagedList<Playground.ViewModels.HotSpotViewModel>*@
@model Playground.ViewModels.HotSpotViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="row well">
    @using (Html.BeginForm())
    {
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">區域</span>
                @*@Html.DropDownList("Dist", (IEnumerable<SelectListItem>)ViewBag.Districts, "ALL", new { @class = "form-control" })*@
                @Html.DropDownListFor(m => m.Dist, (IEnumerable<SelectListItem>)ViewBag.Districts, "ALL", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
                查詢
            </button>
        </div>
    }
</div>

@Html.PagedListPager(Model.Items, generatePageUrl: pageNum => Url.Action("Index", new { pageNum, Model.Dist }))

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().spot_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().district)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().apparatus_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().longitude)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.twd97X)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.twd97Y)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wgs84aX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wgs84aY)
            </th>*@
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.spot_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apparatus_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.twd97X)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.twd97Y)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wgs84aX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wgs84aY)
                </td>*@
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </td>*@
        </tr>
    }

</table>
