
@model IPagedList<Playground.Models.Customers>

@{
    ViewBag.Title = "Index";
}

@section head_css
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: PagedListRenderOptions.TwitterBootstrapPager)*@

    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<< 第一頁",
            LinkToPreviousPageFormat = "< 前一頁",
            LinkToNextPageFormat = "後一頁 >",
            LinkToLastPageFormat = "最末頁 >>",
            PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
            DisplayPageCountAndCurrentLocation = true,
            ItemSliceAndTotalFormat = "顯示項目: {0} ~ {1} / 共 {2} 項",
            DisplayItemSliceAndTotal = true
        })*@

    @*@Html.PagedListGoToPageForm(Model, Url.Action("Index"))*@
    @*@Html.PagedListGoToPageForm(Model, Url.Action("Index"), "page")*@
    @*@Html.PagedListGoToPageForm(Model, formAction: Url.Action("Index"),
        options: new GoToFormRenderOptions {
            InputFieldName = "page",
            InputFieldType = "number",
            LabelFormat = "前往",
            SubmitButtonFormat = "送出"
         })*@
</div>

<div class="text-center">
    @Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }))
</div>

<div class="text-center">
    @Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
                                    options: new PagedListRenderOptions
                                    {
                                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                        DisplayLinkToIndividualPages = false,
                                        
                                        PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
                                        DisplayPageCountAndCurrentLocation = true,
                                        ItemSliceAndTotalFormat = "顯示項目: {0} ~ {1} / 共 {2} 項",
                                        DisplayItemSliceAndTotal = true
                                    })
</div>

<div class="text-center">
    @{ 
        string pageInfo = string.Format($"第 {Model.PageNumber} 頁 / 共 {Model.PageCount} 頁");
    }

    <p>@pageInfo</p>
</div>




